.h1 {
    background-color:#EA7773

    ;
    text-align:center ;
}
.spiderMan {
    color:#EA425C}

.h1{
    color:blue
    font-family: 'Hanalei', cursive;
    font-family: 'Hanalei', cursive;

}
.p1 {

   letter-spacing: 4px;
}
.captainamerica {
    color:#487EB0 ;
   text-decoration: overline;
   text-align: right;
}
.p2 {
    word-spacing:  15px;
}
.ironman {
    color:gold

  

  
}
.p3 {
    text-decoration: line-through;
}
